.Care {
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

@media(max-width: 768px){
  .Care {
    border-radius: 0px;
  }
}

.Care p {
  text-align: left;
  padding: 20px;
}