.MainInfo {
  border: 2px solid black;
  width: 30%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  min-height: 400px;
}

@media(max-width: 768px){
  .MainInfo {
    width: 100%;
    flex-shrink: 0;
  }
}

.MainInfo-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px auto;
}

.MainInfo img {
  width: 200px;
  max-height: 150px;
  object-fit: cover;
  margin: 10px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.MainInfo h2 {
  font-size: 3rem;
}
.MainInfo p {
  text-align: left;
  font-size: 1.5rem;
  padding: 30px;

}