.Optimal {
  border: 2px solid black;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}



.Optimal p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.brown{
  color: #392820;
}

.golden{
  color: #DDD0C0;
}

.green{
  color: #33A94B;
}

.light-green {
  color: #85C240;
}

.blue{
  color: #478FCD;
}

.orange{
  color: #FFC324;
}