.Planting {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  min-height: 400px;
  width: 30%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media(max-width: 768px){
  .Planting {
    width: 100%;
    flex-shrink: 0;
  }
}

.Planting h2 {
  text-align: center;
}

.Planting p {
  padding: 20px;
}